page-home {


  .icon {
    //text-align: left;
    font-size: 3em;
    //padding-right: 5em;

  }

  .buttontext {
    font-size: 2.4em;
    margin-top: .5em;
    text-align: left;
  }

  .button {
    margin: 2em;
    width: 85%;
    //align-items: center;
    padding: 1.5em;
  }

  .buttonrow {
    //text-align: left;
  }

}
