page-edit-existing-event {

  .buttontext {
    font-size: 2em;
    margin-top: .5em;
    //padding-left: 1em;
  }

  .button {
    margin: 2em;
    width: 85%;
    //align-items: center;
    padding: 1.5em;
  }
}
