page-add-new-event {

  .buttontext {
    font-size: 2em;
    margin-top: .5em;
    //padding-left: 1em;
  }

  .button {
    margin: 1em;
    width: 94%;
    //align-items: center;
    padding: 1em;
  }

}
